@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* base styles */
html, body, #root {
  height: 100%;
}
body {
  font-family: lato, sans-serif;
  margin: 0;
  font-size: 1.4em;
  background-color: #dfdfdf;
  color: #333;
}
body::before {
  content:"";
  background-image: url("https://img.freepik.com/free-photo/healthy-diet-background-with-thyme-leaf-border_53876-106117.jpg?w=2000&t=st=1652955644~exp=1652956244~hmac=02aea698f193109c4e756ab22adbd9c3fbb60529934a1d0a11bde7c43dbca249");
  background-size: cover;
  height: 100vh;
  opacity: 0.4;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:-3;
}
h1,h2,h3,p {
  margin: 0;
}
input, textarea {
  color: #333;
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.page-title {
  text-align: center;
  margin: 40px auto;
  color: #333;
}
.loading, .error {
  text-align: center;
  margin: 40px auto;
}